@import url("global.css");

.container {
  margin-top: 2rem;
  color: var(--color-primario);
  height: 50px;
}

.container .btn-outline-secondary {
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: 1px solid var(--color-primario);
}