* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1;
}

fieldset {
  border: 1px solid rgb(133, 133, 133);
  padding: 20px;
  margin-bottom: 20px;
}

fieldset legend {
  font-weight: bold;
}

fieldset label {
  display: block;
  margin-bottom: 10px;
}

fieldset label input {
  margin-right: 10px;
}

fieldset label input[type="radio"] {
  margin-right: 0;
}

p label {
  display: inline-block;
  margin-right: 10px;
}

form button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid rgb(133, 133, 133);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 0 5px 0 inset rgba(0, 0, 0, 0.5);
}