body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgb(206, 94, 94);
}


main section:first-child {
  background-color: red;
  font-size: 2rem;
}

main section:nth-child(2) {
  background-color: lightseagreen;
  font-size: 2rem;
}

main section:nth-child(3) {
  background-color: red;
  font-size: 2rem;
}
/* >sm */
@media (min-width: 576px) {
  header {
    background-color: lightseagreen;
  }

  main section:nth-child(2) {
    background-color: red;
  }

  main section:nth-child(3) {
    background-color: green;
  }
}

/* >md */
@media (min-width: 768px) {
  header {
    background-color: green;
  }
  main section:nth-child(3) {
    background-color: red;
  }
}
